@import "../../app.scss";
.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 300px;
      }
    }
  }
  .title2{
    flex: 2;
    display: flex;
    // flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-left: 40%;

    @include mobile {
      width: 100%;
    }

    h1{
      font-size: 36px;
      font-weight: 100;

      @include mobile {
        font-size: 24px;
      }
    
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;

        @include mobile {
          width: 200px;
          height: 50px;
        }
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
      }

      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 24px;
        cursor: pointer;

        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 50px;
        }
      }
    }
  }
  
  // .techButton {
  //   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  //   cursor: pointer;
  //   padding: 8px 16px;
  //   background-color: rgba(245, 245, 245, 0.365);
  //   color: orange;
  //   border-radius: 4px;
  //   margin-right: 8px;
  //   margin-bottom: 8px;
  //   display: inline-block;
  // }
  .linksText{
    align-content: center;
    font-size: 1.2em;
    color: inherit;
    font-family: inherit;
    align-items: center;
    justify-content: center;
    text-align: left;
    
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  
  .techButton {
    // Inherit font family and color from parent elements
    font-family: inherit;
    color: inherit;
    flex-direction: row;

    cursor: pointer;
    padding: 8px 16px;
    background-color: rgba(245, 245, 245, 0.284);
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
  }


  .educationBackground {
    // padding-left: 50px;
    margin-top: 10%;
    margin-left: 12%;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Align items to the start of the flex container
    justify-content: flex-start; // Align content to the start of the flex container
    text-align: left; // Align text to the left
  
    color: inherit; // Inherits the color of the parent element
    font-family: inherit; // Inherits the font of the parent element
    font-size: 1.2em; // Increases the font size by 20%
  
    h1, h2, h3, h4, h5, h6, p {
      color: inherit; // Inherits the color of the parent element
      font-family: inherit; // Inherits the font of the parent element
      font-size: 30px; // Inherits the font size of the parent element
    }
  }

  .techStack {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
    margin-left: 50px;
  }
  
  .listItems{
    font-family: inherit;
    font-size: inherit;
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }

    .box {
      padding: 50px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mobile {
        border: none;
        align-items: center;
        gap: 20px;
        padding: 10px;
      }

      p {
        @include mobile {
          display: none;
        }
      }

      button {
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;

        @include mobile {
          background-color: transparent;
          border: 1px solid orange;
          border-radius: 5px;
          color: orange;
          width: 50%;
          padding: 5px;
        }
      }
    }
  }
}
